<template>
  <div class="container-fluid p-0" style="max-width: 1270px;">
    <div class="row">
      <div class="col">
        <div v-if="currentExecution && currentExecution.loading">
          Cargando...
        </div>
        <div v-else-if="!currentExecution || currentExecution.errors">
          Hubo un error al cargar la información
        </div>
        <div v-else>
          <execution-card
            :show-tabs="true"
            :execution="currentExecution"
          ></execution-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      executions: state => state.executions.allItems,
    }),

    currentExecution() {
      if (
        this.identifier &&
        this.executions[this.identifier] &&
        this.executions[this.identifier].data) {
        return this.executions[this.identifier].data;
      }
      return null;
    },
  },

  methods: {
    ...mapActions('executions', {
      getExecution: 'getExecution',
    }),
  },

  props: {
    identifier: {
      type: String,
      required: true,
    },
  },

  mounted() {
    this.getExecution(this.identifier);
  },

  watch: {
    identifier: {
      handler(newID) {
        this.getExecution(newID);
      },
    },
  },

};
</script>

<style type="text/css"></style>
