<template>
  <div class="container-fluid p-0" style="max-width: 1270px;">
    <div class="row">
      <div class="col">
        <router-link v-for="execution in currentExecutions"
          :key="execution.identifier"
          :to="{
            name: 'execution-profile',
            params: {
              identifier: execution.identifier,
            },
          }"
        >
          <execution-card
            v-bind:show-tabs="false"
            v-bind:execution="execution"
          ></execution-card>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      executions: state => state.executions.allItems,
    }),

    currentExecutions() {
      const arr = Object.values(this.executions).map(x => x.data);
      arr.sort((a, b) => (a.startedAt > b.startedAt ? 1 : -1));
      return arr;
    },

  },

  methods: {
    ...mapActions('executions', {
      getAllExecutions: 'getAllExecutions',
    }),
  },

  mounted() {
    this.getAllExecutions();
  },
};
</script>

<style type="text/css"></style>
