<template>
  <div class="container-fluid p-0" style="max-width: 1270px;">
    <group-add-card>
    </group-add-card>
    <div class="row">
      <div class="col">
        <group-list
          :groups="currentGroups"
        ></group-list>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      groups: state => state.groups.allItems,
    }),

    currentGroups() {
      const arr = Object.values(this.groups).map(x => x.data);
      arr.sort((a, b) => (a.identifier > b.identifier ? 1 : -1));
      return arr;
    },
  },

  methods: {
    ...mapActions('groups', {
      getAllGroups: 'getAllGroups',
    }),
  },

  props: {
  },

  mounted() {
    this.getAllGroups();
  },

  watch: {
    identifier: {
      handler() {
        this.getAllGroups();
      },
    },
  },
};
</script>

<style type="text/css"></style>
