<template>
  <div class="container-fluid p-0" style="max-width: 1270px;">
    <div class="row">
      <div class="col">
        <div v-if="currentGroup && currentGroup.loading">
          Cargando...
        </div>
        <div v-else-if="!currentGroup || currentGroup.errors">
          Hubo un error al cargar la información
        </div>
        <div v-else>
          <group-card v-bind:group="currentGroup">
          </group-card>

          <div v-if="currentUsers">
            <router-link v-for="user in currentUsers"
              :key="user.identifier"
              :to="{
                name: 'user-profile',
                params: {
                  identifier: user.identifier,
                },
              }"
            >
              <user-card v-bind:user="user">
              </user-card>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      groups: state => state.groups.allItems,
      users: state => state.users.allItems,
    }),

    currentGroup() {
      if (
        this.identifier &&
        this.groups[this.identifier] &&
        this.groups[this.identifier].data) {
        return this.groups[this.identifier].data;
      }
      return null;
    },

    currentUsers() {
      if (
        this.currentGroup &&
        this.currentGroup.users) {
        return this.currentGroup.users
          .map(x => this.users[x])
          .filter(x => x.data).map(x => x.data);
      }
      return [];
    },
  },

  methods: {
    ...mapActions('groups', {
      getGroup: 'getGroup',
      getGroupUsers: 'getGroupUsers',
    }),
  },

  props: {
    identifier: {
      type: String,
      required: true,
    },
  },

  mounted() {
    this.getGroup(this.identifier);
    this.getGroupUsers(this.identifier);
  },

  watch: {
    identifier: {
      handler(newID) {
        this.getGroup(newID);
        this.getGroupUsers(newID);
      },
    },
  },

};
</script>

<style type="text/css"></style>
