<template>
  <div class="container-fluid p-0" style="max-width: 1270px;">
    <user-add-card>
    </user-add-card>
    <div class="row">
      <div class="col">
        <router-link v-for="user in currentUsers"
          :key="user.identifier"
          :to="{
            name: 'user-profile',
            params: {
              identifier: user.identifier,
            },
          }"
        >
          <user-card
            v-bind:show-tabs="false"
            v-bind:user="user"
          ></user-card>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState({
      users: state => state.users.allItems,
    }),

    currentUsers() {
      const arr = Object.values(this.users).map(x => x.data);
      arr.sort((a, b) => (a.identifier > b.identifier ? 1 : -1));
      return arr;
    },

  },

  methods: {
    ...mapActions('users', {
      getAllUsers: 'getAllUsers',
    }),
  },

  props: {
  },

  mounted() {
    this.getAllUsers();
  },
};
</script>

<style type="text/css"></style>
