<template>
  <div class="card no-body">
    <div class="container-fluid">
      <b><app-md-render :raw-string="execution.name"/></b>
      <br/>
      <small v-if="execution.status === 'ongoing'"
        class="text-muted">
        <b-badge pill variant="primary">
          <icon :icon="['fas', 'play']" size="xs"></icon>
          Flujo en curso
        </b-badge>
      </small>
      <small v-else-if="execution.status === 'finished'"
        class="text-muted">
        <b-badge pill variant="primary">
          <icon :icon="['fas', 'check']" size="xs"></icon>
          Flujo terminado
        </b-badge>
      </small>
      <small v-else-if="execution.status === 'cancelled'"
        class="text-muted">
        <b-badge pill variant="primary">
          <icon :icon="['fas', 'stop']" size="xs"></icon>
          Flujo cancelado
        </b-badge>
      </small>
      <br/>
      <small>{{ execution.startedAt|fmtDate('LLLL') }}</small>

      <execution-card-tabs v-if="showTabs"
        :identifier="execution.identifier"
      ></execution-card-tabs>
    </div>
  </div>
</template>

<script type="text/javascript">
import moment from 'moment';

export default {
  props: {
    execution: {
      type: Object,
      required: true,
    },
    showTabs: {
      type: Boolean,
      required: false,
      default: false,
    },
  },

  filters: {
    fmtDate(val, fmt = 'llll') {
      return moment(val).format(fmt);
    },
  },
};
</script>
