<template>
  <div>
    <b-tabs content-class="mt-3" fill>
      <b-tab title="Tareas" lazy>
        <task-list
          :tasks="currentPointers"
        ></task-list>
      </b-tab>

      <b-tab title="Resumen" lazy>
        <execution-summary-card v-if="currentSummary !== null"
          :summary-html="currentSummary"
        ></execution-summary-card>
        <div v-else
          class="text-center text-muted"
        >
          Resumen no disponible
          <icon :icon="['fa', 'search']"></icon>
        </div>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions } from 'vuex';

export default {
  props: {
    identifier: {
      type: String,
      required: true,
    },
  },

  computed: {
    ...mapState({
      executions: state => state.executions.allItems,
      pointers: state => state.pointers.allItems,
      pointerArrays: state => state.pointers.customArrays,
    }),

    currentPointers() {
      if (!this.pointerArrays[this.ptrArrayId]) { return []; }

      const arr = this.pointerArrays[this.ptrArrayId].data;
      const ptrs = arr.map(x => this.pointers[x].data);

      return ptrs;
    },

    ptrQuery() {
      return {
        executionIds: [this.identifier],
      };
    },

    ptrArrayId() {
      return `exe${this.identifier}`;
    },

    currentExecution() {
      if (
        this.identifier &&
        this.executions[this.identifier] &&
        this.executions[this.identifier].data) {
        return this.executions[this.identifier].data;
      }
      return null;
    },

    currentSummary() {
      if (
        this.identifier &&
        this.executions[this.identifier] &&
        this.executions[this.identifier].summary &&
        typeof this.executions[this.identifier].summary !== 'undefined') {
        return this.executions[this.identifier].summary;
      }

      return null;
    },
  },

  methods: {
    ...mapActions('pointers', {
      addPointerArray: 'addArray',
      getPointerArrayItems: 'getArrayItems',
    }),
    ...mapActions('executions', {
      getExecutionSummary: 'getExecutionSummary',
    }),
  },

  mounted() {
    this.addPointerArray({
      identifier: this.ptrArrayId,
      query: this.ptrQuery,
    });
    this.getPointerArrayItems(this.ptrArrayId);
    this.getExecutionSummary(this.identifier);
  },
};
</script>
