<template>
  <div class="card no-body">
    <div v-html="summaryHtml"/>
  </div>
</template>

<script type="text/javascript">
export default {
  props: {
    summaryHtml: {
      type: String,
      required: true,
    },
  },

};
</script>
