<template>
  <div>
    <router-link v-for="group in groups"
      :key="group.identifier"
      :to="{
        name: 'group-profile',
        params: {
          identifier: group.identifier,
        },
      }"
    >
      <group-card
        :key="group.identifier"
        :group="group"
      ></group-card>
    </router-link>
  </div>
</template>

<script type="text/javascript">
export default {
  props: {
    groups: {
      type: Array,
      required: true,
    },
  },
};
</script>
