<template>
  <b-card>
    <b-form
      @submit.prevent="onSubmit"
      @reset.prevent="onReset"
      v-if="show"
    >
      <b-form-group id="input-group-3" label="Codename:" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="form.codename"
          placeholder="Enter codename"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Name:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          placeholder="Enter name"
          required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </b-card>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      form: {
        codename: '',
        name: '',
      },
      show: true,
    };
  },

  methods: {
    onSubmit() {
      this.postGroup(this.form);
    },

    onReset() {
      // Reset our form values
      this.form.codename = '';
      this.form.name = '';
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },

    ...mapActions('groups', {
      postGroup: 'postGroup',
    }),
  },
};
</script>
