<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <b-navbar-brand :to="{
          name: 'default',
        }"
      >{{ $t('header.title') }}</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item v-for="item in routes"
            :key="item.value"
            :to="{
              name: item.value,
            }"
          >{{ item.text }}</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>{{ currentUser.fullname }}</em>
            </template>
            <b-dropdown-item
              :to="{
                name: 'user-profile',
                params: {
                  identifier: currentUser.identifier,
                },
            }">Mi perfil</b-dropdown-item>
            <b-dropdown-item href="#"
              @click="logout"
            >{{ $t('header.signout') }}</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { getAuthUser, logout } from '../utils/auth';

export default {
  computed: {
    currentUser() {
      const user = getAuthUser();
      return {
        fullname: user.fullname,
        identifier: user.username,
        email: user.email,
      }; // TODO: set identifier by default
    },
  },

  data() {
    return {
      routes: [
        { value: 'inbox', text: 'Tablero' },
        { value: 'history', text: 'Historial de flujos' },
        { value: 'processes', text: 'Iniciar flujo' },
        { value: 'users', text: 'Usuarios' },
        { value: 'groups', text: 'Grupos' },
        { value: 'executions', text: 'Flujos' },
      ],
    };
  },

  methods: {
    logout,
  },
};
</script>

<style lang="scss" scoped>
</style>
