<template>
  <div class="card no-body">
    <div class="container-fluid">
      <small class="text-muted">
        {{ permission.identifier }}
      </small><br>
      <b>{{ permission.name }}</b><br>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  props: {
    permission: {
      type: Object,
      required: true,
    },
  },

};
</script>
