<template>
  <div>
    <permission-card v-for="permission in permissions"
      :key="permission.identifier"
      :permission="permission"
    ></permission-card>
  </div>
</template>

<script type="text/javascript">
export default {
  props: {
    permissions: {
      type: Array,
      required: true,
    },
  },
};
</script>
