<template>
  <div
    class="card no-body text-dark bg-light py-3 shadow overflow-auto"
  >
    <div class="container-fluid">
      <div class="d-flex justify-content-between mb-2">
        <small class="text-muted">
          <span class="badge badge-pill badge-secondary"
          >Tarea</span>
        </small>
        <small class="text-muted">{{ task.identifier }}</small>
      </div>

      <div class="row no-gutters">
        <div
          class="col"
          :id="'ptr-title-' + task.identifier + '-' + uuid"
        >
          <b><app-md-render :raw-string="task.name"/></b><br/>
        </div>

        <b-popover
          :target="'ptr-title-' + task.identifier + '-'  + uuid"
          triggers="hover"
          placement="top"
          boundary="viewport"
          delay="500"
        >
          <b><app-md-render :raw-string="task.name"/></b><br/>
        </b-popover>
      </div>

      <div class="row no-gutters">
        <div class="col text-right">
          <small
            class="text-muted"
            :title="task.startedAt|fmtDate('LLLL')"
          >
            <span>Creada el {{ task.startedAt|fmtDate('LLLL') }}</span>
          </small>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col text-right">
          <small
            class="text-muted"
            :title="task.finishedAt|fmtDate('LLLL')"
            v-if="task.finishedAt"
          >
            <span v-if="task.status === 'finished'"
            >Finalizada el {{ task.finishedAt|fmtDate('LLLL') }}</span>
            <span v-else-if="task.status === 'cancelled'"
            >Cancelada el {{ task.finishedAt|fmtDate('LLLL') }}</span>
          </small>

          <span
            v-else
          >
            <span class="badge badge-warning">En curso</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import moment from 'moment';

export default {
  props: {
    task: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      uuid: Math.random(),
    };
  },

  filters: {
    fmtDate(val, fmt = 'llll') {
      return moment(val).format(fmt);
    },
  },
};
</script>
