<template>
  <div>
    <task-card v-for="task in tasks"
      :key="task.identifier"
      :task="task"
    ></task-card>
  </div>
</template>

<script type="text/javascript">
export default {
  props: {
    tasks: {
      type: Array,
      required: true,
    },
  },
};
</script>
