<template>
  <div class="card no-body">
    <div class="container-fluid">
      <small class="text-muted">
        {{ user.identifier }}
      </small><br>
      <b>{{ user.fullname }}</b><br>
      <small>
        {{ user.email }}
      </small>

      <user-card-tabs v-if="showTabs"
        :identifier="user.identifier"
      ></user-card-tabs>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  props: {
    user: {
      type: Object,
      required: true,
    },
    showTabs: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>
