<template>
  <div>
    <b-tabs content-class="mt-3" fill>
      <b-tab title="Tareas"
        @click="getPointerArrayItems(namedArrayId)"
      >
        <task-list
          :tasks="currentPointers"
        ></task-list>
      </b-tab>

      <b-tab title="Grupos"
        @click="getUserGroups(identifier)"
      >
        <group-list
          :groups="currentGroups"
        ></group-list>
      </b-tab>

      <b-tab title="Permisos"
        @click="getUserPermissions(identifier)"
      >
        <permission-list
          :permissions="currentPermissions"
        ></permission-list>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapActions } from 'vuex';

export default {
  props: {
    identifier: {
      type: String,
      required: true,
    },
  },

  computed: {
    ...mapState({
      pointers: state => state.pointers.allItems,
      pointerArrays: state => state.pointers.customArrays,
      groups: state => state.groups.allItems,
      groupArrays: state => state.groups.customArrays,
      permissions: state => state.permissions.allItems,
      permissionArrays: state => state.permissions.customArrays,
    }),

    currentPointers() {
      if (!this.pointerArrays[this.namedArrayId]) { return []; }

      const arr = this.pointerArrays[this.namedArrayId].data;
      const ptrs = arr.map(x => this.pointers[x].data);

      return ptrs;
    },

    currentGroups() {
      if (!this.groupArrays[this.namedArrayId]) { return []; }

      const arr = this.groupArrays[this.namedArrayId].data;
      const grps = arr.map(x => this.groups[x].data);

      return grps;
    },

    currentPermissions() {
      if (!this.permissionArrays[this.namedArrayId]) { return []; }

      const arr = this.permissionArrays[this.namedArrayId].data;
      const perms = arr.map(x => this.permissions[x].data);

      return perms;
    },

    ptrQuery() {
      return {
        actoredUsers: [this.identifier],
        notifiedUsers: [this.identifier],
      };
    },

    namedArrayId() { return `usr${this.identifier}`; },
  },

  methods: {
    ...mapActions('pointers', {
      addPointerArray: 'addArray',
      getPointerArrayItems: 'getArrayItems',
    }),
    ...mapActions('groups', {
      addGroupArray: 'addArray',
    }),
    ...mapActions('users', {
      getUserGroups: 'getUserGroups',
      getUserPermissions: 'getUserPermissions',
    }),
  },

  mounted() {
    this.addPointerArray({
      identifier: this.namedArrayId,
      query: this.ptrQuery,
    });
    this.getPointerArrayItems(this.namedArrayId);
    this.addGroupArray({
      identifier: this.namedArrayId,
    });
  },
};
</script>
