<template>
  <b-card>
    <b-form
      @submit.prevent="onSubmit"
      @reset.prevent="onReset"
      v-if="show"
    >
      <b-form-group id="input-group-3" label="Identifier:" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="form.identifier"
          placeholder="Enter identifier"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Fullname:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.fullname"
          placeholder="Enter fullname"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          placeholder="Enter email"
          required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  </b-card>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      form: {
        identifier: '',
        fullname: '',
        email: '',
      },
      show: true,
    };
  },

  methods: {
    onSubmit() {
      this.postUser(this.form);
    },

    onReset() {
      // Reset our form values
      this.form.identifier = '';
      this.form.fullname = '';
      this.form.email = '';
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },

    ...mapActions('users', {
      postUser: 'postUser',
    }),
  },
};
</script>
